{% extends 'base.html' %}
{% block title %}
home page
{% endblock title %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block content %}
{% block navbar %}
{{ super() }}
{% endblock navbar %}
{% block form %}
{{ super() }}
{% endblock form %}
{% block table %}
<!-- to-do list table -->
<table class="table table-hover mt-5">
    <thead>
        <!-- table heading -->
        <tr>
            <th scope="col">S No.</th>
            <th scope="col">Task Name</th>
            <th scope="col">Task Description</th>
            <th scope="col">Sub Tasks</th>
            <th scope="col">Task Date</th>
        </tr>
    </thead>
    <tbody>
        {% for task in allTodo %}
        <tr>
            <p style="display:none">{{task.sub_task1}}{{task.sub_task2}}{{task.sub_task3}}</p>
            <td>{{loop.index}}</td>
            <td>{{task.task_name}}</td>
            <td>{{task.task_desc}}</td>
            <!-- sub task cell for the row -->
            <td>
                <form action="/delete/{{ task.SNo }}" id={{task.task_name}} method="post">

                    <div class="form-check">
                        <p>
                            <input onclick="submit_form()" type="checkbox" value="x"
                                id= {{task.sub_task1 }} > {{ task.sub_task1 }}
                        </p>


                    </div>
                    <div class="form-check">
                        <p>
                            <input onclick="submit_form()" type="checkbox" value="y"
                                id={{task.sub_task2 }}> {{ task.sub_task2 }}
                        </p>


                    </div>
                    <div class="form-check">
                        <p>
                            <input onclick="submit_form()" type="checkbox" value="z"
                                id={{task.sub_task3 }}> {{ task.sub_task3 }}
                        </p>


                    </div>
                </form>
                <script>

                    function submit_form() {
                        var formz = document.getElementById({{task.task_name| tojson| safe}})
                        console.log(document.getElementById({{task.task_name| tojson| safe}}))
                        var subm1 = document.getElementById({{task.sub_task1| tojson| safe}})
                        var subm2 = document.getElementById({{task.sub_task2| tojson| safe}})
                        var subm3 = document.getElementById({{task.sub_task3| tojson| safe}})

                        if ( (subm1.checked == true) && (subm2.checked == true) && (subm3.checked == true)  ){
                            formz.submit()
                        }


                       
                    }

                </script>
                </div>
            </td>

            <td>{{task.declared_at}}</td>


        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock table %}
{% endblock content %}
{% block footer %}
{{super()}}
{% endblock footer %}